Map (
    layer_count: 2,
    row_count: 6,
    column_count: 6,
    tile_size: 16,
    blocked_tiles: [

    ],
    layers: [
        Layer (
            tiles: [
                6, 1, 2, 3, 4, 6,
                6, 6, 6, 6, 6, 6,
                6, 6, 6, 6, 6, 6,
                6, 6, 6, 6, 6, 6,
                6, 6, 6, 6, 6, 6,
                6, 6, 6, 6, 6, 6
            ]
        ),
        Layer (
            tiles: [
                0, -1, -1, -1, -1, -1,
                -1, -1, -1, -1, -1, -1,
                -1, -1, -1, -1, -1, -1, 
                -1, -1, -1, -1, -1, -1, 
                -1, -1, -1, -1, -1, -1, 
                -1, -1, -1, -1, -1, -1
            ]
        )
    ]
)