Map (
    layer_count: 1,
    row_count: 6,
    column_count: 6,
    layers: [
        Layer {
            tiles: [
                6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6
            ]
        }
    ]
)